<% if current_user.people.blank? %>
  <h5 class="my-caption center">Please fill up your details to create CV</h5>
  <%= render 'form' %>
  <% else %>
  <%= render 'form' %>

<div class="form-group">
  <%= link_to 'Back', root_path %>
</div>
<% end %>