<% if current_user.try(:admin?) %>
<h3 align="center"> <%= "#" %></h3>

<% elsif current_user%>
<%= render 'people/form', obj: @person%>
<% else %>
<div class="center jumbotron">
<h2 align="center"style="color:white">Welcome to the Ruby CV Builder</h2>
<br><br><br><br>
<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %> <br/>
	<br><br><br><br><br>
<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg' %>
</div>
<% end %>
