$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
float: left;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
}
h3 {

  font-family: Courier, Monaco, monospace;
  text-align: center;
}
#logo{

  flot:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
	margin-top: 2px;

}
table.table-bordered
{
	border:1px solid green;
}
table.table-striped {
border:1px solid green;
}
.image_tag{
	margin-left: 15px;
}
#navbar-fixed-bottom{
	background-size: cover;
}
.form-group{
	margin-left: 5px;
	margin-right: 5px;

}
#bs-example-navbar-collapse-1{
	flot:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover{
  color: #01A9DB;
  text-decoration: none;

}
.align{

}
.center{
  text-align: center;
	image-align: center;

}
.panel {
		margin-top: 40px;
}
.select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.panel-body {
background:#F2F2F2;}
.select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.jumbotron {
  background-image: asset-url('new_cover_page.jpg');
  background-size: cover;
  height: 450px;
  margin-top: 30px;
}

.navbar{
	padding-top: 12px;
}

h1 {
    text-align: center;
}
.user-name {
padding: 0 !important ;
padding-left: 5px;
padding-top: 7px !important;
text-align: center;
a {
color: white !important;
margin: 0 !important;
padding: 5px!important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:hover, a:focus {
color: blue !important;
}
}
.panel-body{
	margin-top: 15px;
}
.logout {
padding-left: 0;
}
.margin-left{
    margin-left: 80px !important;
}
.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}
.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;
}
.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}

li a {
margin-right: 32px;

}
	li a {
		color: #fff;
	}
}

.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
background-color: darken(#428bca,20%) !important;
}
}
.btn-primary:visited, .btn-danger:visited {
color: #fff;
}
.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color:white;
}
.footer {
	background-color:black;
  margin-top: 105px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
}
.row{
  margin-bottom: 50px;

}
.form-group {

  padding-top: 5px;

}
.footer a:hover{
  color: #01A9DB;
}
.footer p:hover{
  color: #01A9DB;
}
.footer small {
  float: left;
}
.footer ul{
  float: right;
  list-style: none;
}
.footer ul li{
  float: left;
  margin-left: 15px;
}

.description{
  margin-top: 0;
}
.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}


